.homepage {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.left{
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: left;
}

.title{
    margin: 0;
    font-size: 6vw;
    transform: scaleY(1.2);
    font-weight: 800;
    white-space: nowrap;

}

.subtitle{
    margin: 0 0 0 10px;
    font-size: 2vw;
    font-weight: 800;
}
    
.right {
    width: 30%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.iphone {
    z-index: 1;
    width: 100%;
}

.free{
    z-index: 3;
    background: linear-gradient(90deg, #FF7966 0%, #FF4126 100%);
    border-radius: 30px;
    position: absolute;
    top: 0;
    transform: translateY(-90%);
    right: 30px;
    color: white;
    font-size: 1.5vw;
    padding: 5px 20px;
    box-shadow: 0 0 30px #ff786685;
}

.cubes-container{
    z-index: -4;
    position: absolute;
    width: 50%;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.mobile-cubes-container{
    display: none;
}

.fader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #1C1C23 10%, #ff3f2600 100%);
}

.cubes {
    z-index: -2;
    width: 100%;
    height: auto;
}
    
.link-buttons{
    width: 50%;
    height: 8%;
    display: flex;
    justify-content: space-between;
}                

.link-button{
    border: none;
    background: linear-gradient(90deg, #FF7966 0%, #FF4126 100%);
    border-radius: 6px;
    color: white;
    font-size: 1.5vw;
    padding: 10px 30px;
    cursor: pointer;
    box-shadow: 0 0 30px #ff786685;
    transition: .2s all;
    &:hover{
        box-shadow: 0 0 30px #ff7866; 
    }
}
                
.intro{
width: 80%;
}

.intro p {
font-size: 1.5vw;
}
              
.color-bomb-top{
    z-index: -3;
    width: 1200px;
    height: 270px;
    position: absolute;
    border-radius: 50%;
    top: -35px;
    left: -450px;
    background: #FF7966;
    opacity: 0.25;
    filter: blur(104px);
    transform: rotate(48.11deg);
}  
        
  

@media only screen and (max-width: 800px){
.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.left{
    width: 95%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
    
.title{
    margin: 0;
    font-size: 13vw;
}
    
.subtitle{
    font-size: 6vw;
    margin-bottom: 50px;

}

.link-buttons{
    width: 80%;
    height: 30%;
    display: flex;
    justify-content: space-between;
}                

.link-button{
    font-size: 3vw;
}
        
.right {
width: 100%;
}

.image-container {
    width: 50%;
}

.iphone {
    width: 100%;
}
        
.box{
    max-width: 45vw;
    width: 35vw;
    padding: 2vw 2.5vw;
}

.intro{
    margin-top: 30px;
    width: 100%;
}

.intro p {
    font-size: 3vw;
}


.cubes-container{
    display: none;
}

.mobile-cubes-container{
    display: unset;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: -3;
}

.fader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cubes {
    z-index: -2;
    width: 100%;
    height: auto;
}
        
}