.homepage {
    margin-top: 15vh;
    margin-bottom: 10vh;

    .first{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .left{
            width: 50%;
            display: flex;
            justify-content: center;


            .title{
                margin: 15vh 5vw 0 0;
                font-size: 7vw;
                font-weight: 200;
            }

            .subtitle{
                font-size: 2vw;
                margin: 2vh 0 0 10vw;
            }
        }
    
        .right {
            width: 50%;
    
            .iphone {
                width: 30vw;
            }
    
            .comingsoon{
                display: flex;
                justify-content: space-evenly;
                
        
                .box{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-evenly;
                    padding: 1vw 2vw;
                    border: 1px solid #ffffff;
                    border-radius: 25px;
                    background-color: #0c0c0c;
                    cursor: pointer;

                   
            
                    .coming{
                        margin: 0;
                        font-size: 1.2vw;
                        color: #ffffff;
                    }
            
                    .icon{
                        margin: 0 0.5vw 0 0;
                        padding-bottom: 0vw;
                    }
                }
            }
    
        }

    }


.second{
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    .intro{
        font-size: 1.5vw;
        width: 80%;
    }
}

// .images{
//     width: 100%;
//     display: flex;
//     flex-direction: row;
//     justify-content: center;

//     .image{
//         border-radius: 10px;
//         opacity: 0.7;
//         width: 50%;
//         height: 50vh;
//         background-size: cover;
//         background-position: center;
//         background-repeat: no-repeat;
//     }
// }


.enjoyWebVersion{
    
    text-decoration: none;
    padding: 1vh 2vw;
    background-color: #423f47;
    color: white;
    text-align: center;
    border: 2px solid rgb(255, 27, 141);
    box-shadow: rgb(0 0 0 / 60%) 1px 3px 2px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s ease 0s;

    &:hover {
        box-shadow: rgb(255, 27, 141) 0px 0px 20px;
    }

}
}

@media only screen and (max-width: 800px){
    .homepage {
        margin-top: 5vh;
        
    
        .first{
            display: flex;
            flex-direction: column;
            align-items: center;
    
            .left{
                width: 100%;
                display: flex;
                justify-content: center;
    
    
                .title{
                    margin: 5vh 0 0 0;
                    font-size: 15vw;
                    font-weight: 200;
                }
    
                .subtitle{
                    font-size: 6vw;
                    margin: 2vh 0 0 0;
                }
            }
        
            .right {
                width: 100%;
        
                .iphone {
                    width: 90vw;
                }
        
                .comingsoon{
       
            
                    .box{
                        max-width: 45vw;
                        width: 35vw;
                        padding: 2vw 2.5vw;
                
                        .coming{
                            margin: 0;
                            font-size: 3.5vw;
                        }
                
                        .icon{
                            margin: 0 1vw 0 0;
                        }
                    }
                }
        
            }
    
        }
    
    
    .second{
        margin-top: 3vh;
        margin-bottom: 5vh;
        
        .intro{
            font-size: 4vw;
        }
        
    }



    
    .enjoyWebVersion{
        padding: 1vh 5vw;
    }
    }
}