.container {
    display: none;
}

.hamburger{
    z-index: 9;
    position: fixed;
    top: 3%;
    left: 5%;
    transition: transform 200ms;
    cursor: pointer;
}

.menu {
    z-index: 8;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: left 0.8s ease;
    background-color: var(--bg);

    
    .itemContainer{
        margin-top: 12vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menuItem{
        color: #8e8d8f;
        margin: 5% 0;
        padding: 3% 7%;
        border: solid 1px;
        border-color: #8e8d8f;
        border-radius: 25px;
        font-size: 7vw;
        text-decoration: none;
    }

}


@media only screen and (max-width: 800px){
    .container {
        display: initial;
    }
}