.about{
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    .aboutText{
        width: 70%;
        font-size: 1.5vw;

        .title{
            font-size: 3vw;
        }
    }
}

@media only screen and (max-width: 800px){
    .about{
        margin: 10vh 0 0 0;
text-align: center;


        .aboutText{
            font-size: 4vw;
            
            .title{
                font-size: 10vw;
            }
        }
    }
}