.buttons{
    margin-top: 10vw;
width: 65%;
display: flex;
flex-direction: row;
justify-content: space-between;
flex-wrap: wrap;
padding-bottom: 7%;
}


.button{
    width: 7%;
    padding: 2% 0;
    margin: 5px 10px;
    border-radius: 10px;
    box-shadow: rgb(0, 0, 0) 1px 3px 6px;
    transition: box-shadow 300ms;

    &:hover{
    cursor: pointer;
    }

    &.selected{
    transition: box-shadow 300ms;
    box-shadow: rgb(255, 255, 255) 2px 2px 10px;
    }
}

.black{
    border: 1px solid white;
}

@media only screen and (max-width: 800px){
    .buttons {
        margin-top: 20vw;
        width: 80%;
    }
    .button{
    width: 11%;
    padding: 3% 0;
    }
}

@media only screen and (max-width: 420px){
    .buttons{
        width: 90%;
        padding-bottom: 0%;
    
        .button{
            width: 13%;
            padding: 4% 0;
       
            &.selected{
                box-shadow: rgb(255, 255, 255) 2px 2px 15px;
            }
        }
    }
}